@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"), url("../fonts/flaticon.woff") format("woff"), url("../fonts/flaticon.ttf") format("truetype"), url("../fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  /*font-size: 20px;*/
  font-style: normal;
  /*margin-left: 20px;*/
}
.flaticon-botton1:before {
  content: "\e000";
}
.flaticon-cupcake3:before {
  content: "\e001";
}
.flaticon-facebook31:before {
  content: "\e002";
}
.flaticon-placeholder8:before {
  content: "\e003";
}
.flaticon-plus16:before {
  content: "\e004";
}
.flaticon-shopping93:before {
  content: "\e005";
}
.flaticon-twitter29:before {
  content: "\e006";
}