@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(bootstrap.css);
@import url(flaticon.css);

$purple: #665b63;
$yellow: #ffff3c;
$cream: #eee8e3;
$brown: #514740;

$columns: 12;

%clearfix {
  &:before, &:after {
    clear: both;
    content: ' ';
    display: table;
  }
}

$font-size-base: 16px;

@function font-size($size) {
  @return round((16px / $font-size-base) * $size);
}

@function hexa($hex, $alpha) {
  @return rgba(red($hex), green($hex), blue($hex), $alpha);
}

@mixin text-shadow($shadow) {
  -webkit-text-shadow: $shadow;
  -moz-text-shadow: $shadow;
  text-shadow: $shadow;
}

html, html * {
  -webkit-font-smoothing: antialiased;
}

body {
  background: none;
  text-align: left;
}

nav {
  font-weight: 600;
}

.container {
  position: relative;
}

%nfj-btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  border-style: solid;
  border-width: 0px;
  text-align: center;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

@mixin nfj-btn($bgColor, $foreColor, $bgHover:"", $foreHover:"") {
  background-color: $bgColor !important;
  border-color: $foreColor !important;
  color: $foreColor !important;
  &:hover {
    @if $bgHover == "" {
      background-color: lighten($bgColor, 5%) !important;
    } @else {
      background-color: $bgHover !important;
    }
    @if $foreHover == "" {
      border-color: $foreColor !important;
      color: $foreColor !important;
    } @else {
      border-color: $foreHover !important;
      color: $foreHover !important;
    }
  }
}

.btn-purple {
  @extend %nfj-btn;
  @include nfj-btn($purple, #fff, $yellow, $purple);
}

.btn-yellow {
  @extend %nfj-btn;
  @include nfj-btn($yellow, $purple, $purple, #fff);
}

.btn-chunky {
  border-width: 3px;
  font-size: font-size(16.84px);
  font-weight: 800;
  padding: 10px 30px;
  text-transform: uppercase;
}

.btn-script {
  font-family: 'Pacifico';
}

.btn-large {
  border-width: 2px;
}

.btn-caps {
  text-transform: uppercase;
}

.valign-wrapper {
  display: table;
  width: 100%;
  .valign-object {
    display: table-cell;
    vertical-align: middle;
  }
  &.valign-fullheight {
    height: 100%;
  }
}

.cream-well {
  $padding: 40px;
  background-color: $cream;
  color: $purple;
  padding: $padding;
  margin-bottom: $padding;
  .row.fix-spacing {
    margin: {
      left: round(0 - ($padding / 2));
      right: round(0 - ($padding / 2));
    }
    %fix-spacing-column {
      padding: {
        left: round($padding / 2);
        right: round($padding / 2);
      }
    }
    @for $i from 1 to $columns {
      .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i} {
        @extend %fix-spacing-column;
      }
    }
  }
}

.product-grid.row {
  $spacing: 40px;
  padding: {
    top: round($spacing / 2);
    bottom: round($spacing / 2);
  }
  > %product-grid-column {
    margin: {
      top: round($spacing / 2);
      bottom: round($spacing / 2);
    }
  }
  @for $i from 1 to $columns {
    .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i} {
      @extend %product-grid-column;
    }
  }
}

.top-border-purple {
  border-top: 1px solid $purple;
}

nav {
  &#primarynav {
    background-color: hexa(#D0C5BD, 0.9);
    color: $purple;
    position: relative;
    a {
      color: $purple;
      text-transform: uppercase;
      &:hover { @extend %highlight-menu; }
    }
    %highlight-menu {
      background-color: $purple;
      color: #fff;
      text-decoration: none;
    }
    ul.menu {
      $spacing: 50px;
      @extend %clearfix;
      padding: 0px;
      margin: 0px;
      list-style: none;
      li {
        float: left;
        display: block;
        &.current-menu-item, &.current-page-ancestor {
          a { @extend %highlight-menu; }
        }
        a {
          display: block;
          padding: 25px round($spacing / 2);
        }
      }
    }
    .right-badge {
      position: absolute;
      right: 0px;
      height: 100%;
      img {
        position: relative;
        top: -100%;
      }
    }
  }
}

header {
  #top-banner {
    background-image: url(../img/banner3.jpg);
    background-position: center center;

    #nfj-logo {
      padding: 20px 0px;
      max-width: 100%;
      width: (300 / 960) * 100%;
      
    }
    #get-started {
      position: absolute;
      right: (1 / 12) * 100%;
      top: 50%;
      transform: translateY(-50%);
      width: (4 / 12) * 100%;
      .btn-yellow {
        display: block;
        font-size: font-size(28px);
        padding: 10px 20px;
        position: relative;
      }
    }
  }
}


#how-it-works {
  margin-top: 15px;
  margin-bottom: 40px;
  .step {
    color: $purple;
    .icon {
      $size: 140px;
      background-color: transparent;
      border-radius: 50%;
      display: block;
      font-size: ($size / 2);
      height: $size;
      line-height: $size;
      margin: 40px auto;
      text-align: center;
      width: $size;
    }
    .title {
      font-family: 'Pacifico';
      text-align: center;
      font-size: font-size(28px);
      margin: 20px 0px;
    }
    .description {
      text-align: center;
      margin: 20px 0px;
    }
    &.highlight, &:hover {
      .icon {
        color: #fff;
        background-color: $purple;
      }
    }
  }
}

section.products {
  .product {
    position: relative;
    background-position-y: -50%;
    background-repeat: no-repeat;
    background-size: 100%;
    .frame {
      max-width: 100%;
    }
    .name {
      @include text-shadow(2px 3px rgba(0,0,0,0.2));
      color: #fff;
      font-family: 'Pacifico';
      font-size: font-size(48px);
      height: (250 / 960) * 100%;
      line-height: 1;
      position: absolute;
      text-align: center;
      top: (465 / 960) * 100%;
      width: 100%;
    }
    .more {
      position: absolute;
      line-height: 1;
      top: (715 / 960) * 100%;
      height: (220 / 960) * 100%;
      width: 100%;
      text-align: center;
    }
  }
}

footer {
  margin: {
    top: 30px;
    bottom: 30px;
  }
  text-align: center;
  .social {
    $icon-size: 64px;
    a {
      display: inline-block;
      line-height: $icon-size;
      height: $icon-size;
      width: $icon-size;
      vertical-align: middle;
      background-color: $purple;
      color: #fff;
      text-align: center;
      border-radius: 50%;
      border: 1px solid $purple;
      margin: 0px 5px;
      font-size: ($icon-size / 2);
      &:hover {
        background-color: $yellow;
        color: $purple;
        text-decoration: none;
      }
    }
    .facebook, .twitter {
      background-repeat: no-repeat;
      background-size: 100%;
      border-radius: 0px;
      border: none;
    }
    .facebook {
      background-image: url(../img/facebook-frame.png);
    }
    .twitter {
      background-image: url(../img/twitter-frame.png);
    }
  }
}

#page-content {
  color: $purple;
  .breadcrumbs {
    margin: 30px 0px;
  }
  .page-heading {
    font-size: font-size(74px);
    margin: 0.6em 0;
    line-height: 1;
  }
}

.product-heading {
  font-family: 'Pacifico';
  font-size: font-size(41.67px);
}

.product-content {
  background-color: $cream;
  color: $purple;
}

.product-image {
  position: relative;
  background-position-y: -50%;
  background-repeat: no-repeat;
  background-size: 100%;
  .frame {
    max-width: 100%;
  }
}

.title {
      font-family: 'Pacifico';
      text-align: center;
      font-size: font-size(28px);
      margin: 20px 0px;
      color: $purple;
    }

#tagline {

padding-bottom: 50px;
text-shadow: 2px 2px 14px rgba(0, 0, 0, 0.7);
color: white;
}

.contact{
  background-color: #efefef;
}

   