@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(bootstrap.css);
@import url(flaticon.css);
nav#primarynav ul.menu:before, nav#primarynav ul.menu:after {
  clear: both;
  content: ' ';
  display: table; }

html, html * {
  -webkit-font-smoothing: antialiased; }

body {
  background: none;
  text-align: left; }

nav {
  font-weight: 600; }

.container {
  position: relative; }

.btn-purple, .btn-yellow {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  border-style: solid;
  border-width: 0px;
  text-align: center;
  text-decoration: none; }
  .btn-purple:hover, .btn-yellow:hover {
    text-decoration: none; }

.btn-purple {
  background-color: #665b63 !important;
  border-color: #fff !important;
  color: #fff !important; }
  .btn-purple:hover {
    background-color: #ffff3c !important;
    border-color: #665b63 !important;
    color: #665b63 !important; }

.btn-yellow {
  background-color: #ffff3c !important;
  border-color: #665b63 !important;
  color: #665b63 !important; }
  .btn-yellow:hover {
    background-color: #665b63 !important;
    border-color: #fff !important;
    color: #fff !important; }

.btn-chunky {
  border-width: 3px;
  font-size: 17px;
  font-weight: 800;
  padding: 10px 30px;
  text-transform: uppercase; }

.btn-script {
  font-family: 'Pacifico'; }

.btn-large {
  border-width: 2px; }

.btn-caps {
  text-transform: uppercase; }

.valign-wrapper {
  display: table;
  width: 100%; }
  .valign-wrapper .valign-object {
    display: table-cell;
    vertical-align: middle; }
  .valign-wrapper.valign-fullheight {
    height: 100%; }

.cream-well {
  background-color: #eee8e3;
  color: #665b63;
  padding: 40px;
  margin-bottom: 40px; }
  .cream-well .row.fix-spacing {
    margin-left: -20px;
    margin-right: -20px; }
    .cream-well .row.fix-spacing .col-xs-1, .cream-well .row.fix-spacing .col-sm-1, .cream-well .row.fix-spacing .col-md-1, .cream-well .row.fix-spacing .col-lg-1, .cream-well .row.fix-spacing .col-xs-2, .cream-well .row.fix-spacing .col-sm-2, .cream-well .row.fix-spacing .col-md-2, .cream-well .row.fix-spacing .col-lg-2, .cream-well .row.fix-spacing .col-xs-3, .cream-well .row.fix-spacing .col-sm-3, .cream-well .row.fix-spacing .col-md-3, .cream-well .row.fix-spacing .col-lg-3, .cream-well .row.fix-spacing .col-xs-4, .cream-well .row.fix-spacing .col-sm-4, .cream-well .row.fix-spacing .col-md-4, .cream-well .row.fix-spacing .col-lg-4, .cream-well .row.fix-spacing .col-xs-5, .cream-well .row.fix-spacing .col-sm-5, .cream-well .row.fix-spacing .col-md-5, .cream-well .row.fix-spacing .col-lg-5, .cream-well .row.fix-spacing .col-xs-6, .cream-well .row.fix-spacing .col-sm-6, .cream-well .row.fix-spacing .col-md-6, .cream-well .row.fix-spacing .col-lg-6, .cream-well .row.fix-spacing .col-xs-7, .cream-well .row.fix-spacing .col-sm-7, .cream-well .row.fix-spacing .col-md-7, .cream-well .row.fix-spacing .col-lg-7, .cream-well .row.fix-spacing .col-xs-8, .cream-well .row.fix-spacing .col-sm-8, .cream-well .row.fix-spacing .col-md-8, .cream-well .row.fix-spacing .col-lg-8, .cream-well .row.fix-spacing .col-xs-9, .cream-well .row.fix-spacing .col-sm-9, .cream-well .row.fix-spacing .col-md-9, .cream-well .row.fix-spacing .col-lg-9, .cream-well .row.fix-spacing .col-xs-10, .cream-well .row.fix-spacing .col-sm-10, .cream-well .row.fix-spacing .col-md-10, .cream-well .row.fix-spacing .col-lg-10, .cream-well .row.fix-spacing .col-xs-11, .cream-well .row.fix-spacing .col-sm-11, .cream-well .row.fix-spacing .col-md-11, .cream-well .row.fix-spacing .col-lg-11 {
      padding-left: 20px;
      padding-right: 20px; }

.product-grid.row {
  padding-top: 20px;
  padding-bottom: 20px; }
  .product-grid.row > .col-xs-1, .product-grid.row > .col-sm-1, .product-grid.row > .col-md-1, .product-grid.row > .col-lg-1, .product-grid.row > .col-xs-2, .product-grid.row > .col-sm-2, .product-grid.row > .col-md-2, .product-grid.row > .col-lg-2, .product-grid.row > .col-xs-3, .product-grid.row > .col-sm-3, .product-grid.row > .col-md-3, .product-grid.row > .col-lg-3, .product-grid.row > .col-xs-4, .product-grid.row > .col-sm-4, .product-grid.row > .col-md-4, .product-grid.row > .col-lg-4, .product-grid.row > .col-xs-5, .product-grid.row > .col-sm-5, .product-grid.row > .col-md-5, .product-grid.row > .col-lg-5, .product-grid.row > .col-xs-6, .product-grid.row > .col-sm-6, .product-grid.row > .col-md-6, .product-grid.row > .col-lg-6, .product-grid.row > .col-xs-7, .product-grid.row > .col-sm-7, .product-grid.row > .col-md-7, .product-grid.row > .col-lg-7, .product-grid.row > .col-xs-8, .product-grid.row > .col-sm-8, .product-grid.row > .col-md-8, .product-grid.row > .col-lg-8, .product-grid.row > .col-xs-9, .product-grid.row > .col-sm-9, .product-grid.row > .col-md-9, .product-grid.row > .col-lg-9, .product-grid.row > .col-xs-10, .product-grid.row > .col-sm-10, .product-grid.row > .col-md-10, .product-grid.row > .col-lg-10, .product-grid.row > .col-xs-11, .product-grid.row > .col-sm-11, .product-grid.row > .col-md-11, .product-grid.row > .col-lg-11 {
    margin-top: 20px;
    margin-bottom: 20px; }

.top-border-purple {
  border-top: 1px solid #665b63; }

nav#primarynav {
  background-color: rgba(208, 197, 189, 0.9);
  color: #665b63;
  position: relative; }
  nav#primarynav a {
    color: #665b63;
    text-transform: uppercase; }
  nav#primarynav a:hover, nav#primarynav ul.menu li.current-menu-item a, nav#primarynav ul.menu li.current-page-ancestor a {
    background-color: #665b63;
    color: #fff;
    text-decoration: none; }
  nav#primarynav ul.menu {
    padding: 0px;
    margin: 0px;
    list-style: none; }
    nav#primarynav ul.menu li {
      float: left;
      display: block; }
      nav#primarynav ul.menu li a {
        display: block;
        padding: 25px 25px; }
  nav#primarynav .right-badge {
    position: absolute;
    right: 0px;
    height: 100%; }
    nav#primarynav .right-badge img {
      position: relative;
      top: -100%; }

header #top-banner {
  background-image: url(../img/banner3.jpg);
  background-position: center center; }
  header #top-banner #nfj-logo {
    padding: 20px 0px;
    max-width: 100%;
    width: 31.25%; }
  header #top-banner #get-started {
    position: absolute;
    right: 8.33333%;
    top: 50%;
    transform: translateY(-50%);
    width: 33.33333%; }
    header #top-banner #get-started .btn-yellow {
      display: block;
      font-size: 28px;
      padding: 10px 20px;
      position: relative; }

#how-it-works {
  margin-top: 15px;
  margin-bottom: 40px; }
  #how-it-works .step {
    color: #665b63; }
    #how-it-works .step .icon {
      background-color: transparent;
      border-radius: 50%;
      display: block;
      font-size: 70px;
      height: 140px;
      line-height: 140px;
      margin: 40px auto;
      text-align: center;
      width: 140px; }
    #how-it-works .step .title {
      font-family: 'Pacifico';
      text-align: center;
      font-size: 28px;
      margin: 20px 0px; }
    #how-it-works .step .description {
      text-align: center;
      margin: 20px 0px; }
    #how-it-works .step.highlight .icon, #how-it-works .step:hover .icon {
      color: #fff;
      background-color: #665b63; }

section.products .product {
  position: relative;
  background-position-y: -50%;
  background-repeat: no-repeat;
  background-size: 100%; }
  section.products .product .frame {
    max-width: 100%; }
  section.products .product .name {
    -webkit-text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
    -moz-text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: 'Pacifico';
    font-size: 48px;
    height: 26.04167%;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: 48.4375%;
    width: 100%; }
  section.products .product .more {
    position: absolute;
    line-height: 1;
    top: 74.47917%;
    height: 22.91667%;
    width: 100%;
    text-align: center; }

footer {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center; }
  footer .social a {
    display: inline-block;
    line-height: 64px;
    height: 64px;
    width: 64px;
    vertical-align: middle;
    background-color: #665b63;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #665b63;
    margin: 0px 5px;
    font-size: 32px; }
    footer .social a:hover {
      background-color: #ffff3c;
      color: #665b63;
      text-decoration: none; }
  footer .social .facebook, footer .social .twitter {
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 0px;
    border: none; }
  footer .social .facebook {
    background-image: url(../img/facebook-frame.png); }
  footer .social .twitter {
    background-image: url(../img/twitter-frame.png); }

#page-content {
  color: #665b63; }
  #page-content .breadcrumbs {
    margin: 30px 0px; }
  #page-content .page-heading {
    font-size: 74px;
    margin: 0.6em 0;
    line-height: 1; }

.product-heading {
  font-family: 'Pacifico';
  font-size: 42px; }

.product-content {
  background-color: #eee8e3;
  color: #665b63; }

.product-image {
  position: relative;
  background-position-y: -50%;
  background-repeat: no-repeat;
  background-size: 100%; }
  .product-image .frame {
    max-width: 100%; }

.title {
  font-family: 'Pacifico';
  text-align: center;
  font-size: 28px;
  margin: 20px 0px;
  color: #665b63; }

#tagline {
  padding-bottom: 50px;
  text-shadow: 2px 2px 14px rgba(0, 0, 0, 0.7);
  color: white; }

.contact {
  background-color: #efefef; }

/*# sourceMappingURL=style.css.map */
